<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ejercicio 2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Inicio de Sesión</h1>
    <form method="POST">
        Ingresa tu nombre: <input type="text" name="usuario" required><br>
        ingresa tu Contraseña: <input type="password" name="contraseña" required><br>
        <input class="button" type="submit" value="verificar">
    </form>
    <p>{{ mensaje }}</p>
</body>
</html>
